---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="wrapper-pagehero relative overflow-hidden h-[300px] md:h-[400px] lg:min-h-[360px]">
  <!-- Gradient Overlay -->
  <div class="absolute inset-0 bg-gradient-to-br from-orange-500/20 to-transparent"></div>

  <!-- Content -->
  <div class="container mx-auto px-6 text-center absolute top-[10%] md:top-[10%] lg:top-[30%] left-1/2 transform -translate-x-1/2 z-10">
    <h2 class="text-2xl sm:text-3xl lg:text-4xl font-semibold mb-2 text-orange-100 md:mt-12 lg:mt-0">{title}</h2>
    <p class="text-base sm:text-lg my-auto md:text-xl text-cyan-100 leading-relaxed max-w-3xl mx-auto">
      {subtitle}
    </p>
  </div>

  <!-- Decorative wave -->
  <div class="absolute bottom-0 left-0 right-0">
    <svg viewBox="0 0 1440 100" class="w-full h-8 fill-amber-100">
      <path d="M0,64L48,69.3C96,75,192,85,288,80C384,75,480,53,576,58.7C672,64,768,96,864,96C960,96,1056,64,1152,48C1248,32,1344,32,1392,32L1440,32L1440,120L1392,120C1344,120,1248,120,1152,120C1056,120,960,120,864,120C768,120,672,120,576,120C480,120,384,120,288,120C192,120,96,120,48,120L0,120Z"></path>
    </svg>
  </div>
</div>
