---
import BaseLayout from '@/layouts/BaseLayout.astro';
import HubSpotForm from '@/components/astro/HubSpotForm.astro';
---

<BaseLayout title="Contact Us - BSides SWFL">
  <div class="max-w-5xl mx-auto wrapper-pages p-4 md:mb-12">
    <HubSpotForm formId="e30cd9a7-5c69-4b8b-9068-4e9f694a9dd4" />
  </div>
</BaseLayout>
