---
import PageLayout from '@/layouts/PageLayout.astro';
import HubSpotForm from '@/components/astro/HubSpotForm.astro';
---

<PageLayout
  title="Villages - BSides SWFL"
  heroTitle="Bring a Village to Life at BSides SWFL"
  heroSubtitle="Villages are all-day interactive spaces where attendees can get hands-on, ask questions, and explore niche areas of security. Whether it's lockpicking, social engineering, or career building, villages turn curiosity into connection through real-world experience."
>
  <div class="max-w-5xl mx-auto wrapper-pages p-4 md:mb-12 pt-4 -mt-12">
    <div class="mt-6 mb-14">
      <HubSpotForm formId="fb4869ea-c35c-4d70-9ddb-7508f9d6cf1f" />
    </div>
  </div>
</PageLayout>
